*{
    margin:0;
    padding:0;
    outline: 0;
}
:root{
    /* variable-font */
    --primary-fonts:Poppins;
    --secondary-fonts:Roboto;
    /* variable color */
    --primary-color:#562EFF;
    --secondary-color:#E5E5E5;
    --font-color:#562EFF;
}
.container{
    padding:0 10%
}

/* fonts-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;;
}
#header{
    background: var(--primary-color);
    height:80px;
}
.logo img {
    width: 60px;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_bar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.nav_bar ul li {
    padding: 15px;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
}
.nav_bar ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-family: var(--primary-fonts);
}


/* top_player and bolg section */

.content_inner {
    background: #fff;
    margin: 36px 0;
    border-radius: 10px;
    padding: 33px;
}
.content_inner h1{
    padding: 33px 0;
}
.all_players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 35px;
    grid-row-gap: 30px;
}
.top_images h2{
    font-size: 24px;
    font-family: var(--primary-fonts);
    font-weight: 300px;
}
.top_player {
    display: flex;
    justify-content: space-between;
}
.player_list {
    display: flex;
    align-items: center;
}
.profile_pic img {
    width: 65px;
    height: 65px;
}
.player_list h3{
    padding:16px;
    font-size: 18px;
    font-weight:  400;
    line-height:28px;
}
.top_player {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-column-gap: 85px;
    grid-row-gap: 30px;
}
/* top blogers */
.blog_inner h1{
    padding: 33px 0;
}
.top_bloger {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 80px;
    grid-row-gap: 26px;
}
.bloger_list {
    display: flex;
    align-items: center;
}
.blog_pic img {
    width: 177px;
    height: 117px;
}
.bloger_name h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    padding: 0 16px;
}
.bloger_name p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding:0 16px;
}


/* course_section */
.course_inner {
    padding: 10px 30px;
    background: #fff;
    margin-top:10px;
}
.courses {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-column-gap: 23px;
    grid-row-gap: 23px;
}
.course_title h1 {
    font-size: 24px;
    font-family: poppins;
    font-weight: 500;
    padding: 11px;
    color:var(--primary-color)
}
.coures_images img {
    width: 224px;
    height: 104px;
    padding: 11px;
}
.courses-name h2 {
    font-family: var(--secondary-fonts);
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    padding: 8px;
}
.courses-name p {
    font-family: var(--secondary-fonts);
    font-size: 14px;
    font-weight: 400;
    padding: 0px 5px;
    color: #FF7989;
}
.star_icon{
    color:yellow;
}
.star_icon p{
    color:#000;
}
i.far.fa-clock {
    color: #FF4A60;
}
.far fa-clock p{
    color:#FF4A60!important;
}
.icon_part {
    display: flex;
    flex-direction: column;
}
.star_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 29px;
}
.icon_watch img {
    width: 20px;
    height: 20px;
}
.icon_watch {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon_watch p {
    font-size: 14px;
    font-weight: 600;
    font-family: var(--secondary-fonts);
    color: #FF7989;
}
i.far.fa-clock {
    color: #FF4A60, 100%;
    padding: 3px 18px;
    background: #E5E5E5;
    border-radius: 87px;
    box-sizing: border-box;
}
.coures_images {
    box-sizing: border-box;
    box-shadow: 4px 6px 13px -9px;
    border-radius: 10px;
}
